<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flask for Data Science</title>
      <!-- Custom styles for this template -->
      <link  rel="stylesheet" href="{{ url_for('static', filename='css/logo-nav.css') }}">

    <!-- Bootstrap core CSS -->
    <link  rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='resources/nerdstrom_logo.png')   }}" width="200" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/titanic">Used car</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <h1 class="mt-5">How much is this car?</h1>
        <p>This model predicts price on a used car market using a tree model trained on actual data from the car.som.</p>
        <div class="row">
            <div class="col-lg-6">
                <!-- The web form goes here -->
                <form action="/titanic" method="post" id="titanic_predict">
                     <div>
                        <label for="name">Mileage</label>
                        <input type="text" id="class" name="predict_class" value=1>
                    </div>
                    <div>
                        <label for="name">Model Year: 2000 - 2017 </label>
                        <input type="text" id="age" name="predict_age" value=25>
                    </div>
                    <div>
                        <label for="name">Brakes</label>
                        <input type="text" id="sibsp" name="predict_sibsp" value=1>
                    </div>
                    <div>
                        <label for="name">Airbag</label>
                        <input type="text" id="parch" name="predict_parch" value=0>
                    </div>
                    <div>
                        <label for="name">Camera </label>
                        <input type="text" id="fare" name="predict_fare" value=250>
                    </div>
                    <div>
                        <label for="name">Controls</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Speakers</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Video</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Bluetooth</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Alarm</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Navigation</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Digital</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Keyless</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Heated</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Leather</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Armrest</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Total</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Drivetrain</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Fuel Type</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Transmission</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Make</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                    <div>
                        <label for="name">Model</label>
                        <input type="text" id="sex" name="predict_sex" value='F'>
                    </div>
                </form>
            <button class="btn" type="submit" form="titanic_predict" value="Submit">Predict</button>
            </div>

            <div class="col-lg-6">
                <!-- Result presentation goes here -->
                {% if data.prediction %}
                    <h1>{{data.prediction}}</h1>
                    <h5>Mileage: {{data.form.predict_class}}</h5>
                    <h5>Model Year: {{data.form.predict_age}}</h5>
                    <h5>Brakes: {{data.form.predict_sibsp}}</h5>
                    <h5>Airbag: {{data.predict_parch}}</h5>
                    <h5>Camera: ${{data.form.predict_fare}}</h5>
                    <h5>Controls: {{data.form.predict_sex}}</h5>
                    <h5>Speakers: {{data.form.predict_class}}</h5>
                    <h5>Video: {{data.form.predict_age}}</h5>
                    <h5>Bluetooth: {{data.form.predict_sibsp}}</h5>
                    <h5>Alarm: {{data.predict_parch}}</h5>
                    <h5>Navigations: ${{data.form.predict_fare}}</h5>
                    <h5>Digital: {{data.form.predict_sex}}</h5>
                    <h5>Keyless: {{data.form.predict_sex}}</h5>
                    <h5>Heated: {{data.form.predict_sex}}</h5>
                    <h5>Leather: {{data.form.predict_sex}}</h5>
                    <h5>Armrest: {{data.form.predict_sex}}</h5>
                    <h5>Drivetrain: {{data.form.predict_sex}}</h5>
                    <h5>Fuel Type: {{data.form.predict_sex}}</h5>
                    <h5>Transmission: {{data.form.predict_sex}}</h5>
                    <h5>Make: {{data.form.predict_sex}}</h5>
                    <h5>Model: {{data.form.predict_sex}}</h5>
                    <h5>Total: {{data.form.predict_sex}}</h5>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img style="margin-top: 50px;" src="https://www.cstatic-images.com/stock/570x380/44/img-2001701284-1526588309444.jpg" height="400px">
            </div>
        </div>
    </div>


    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/popper/popper.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>